.About-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 50px 10px;
    background-color: #fff; 
}
  
.About-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
    gap: 4rem;
}
  
.About-text {
    flex: 1;
    max-width: 450px;
}
  
.About-title {
    font-size: 48px;
    margin-bottom: 15px;
    color: #333; 
}
  
.About-description {
    font-size: 16px;
    margin-bottom: 30px;
    color: #666; 
}
  
.About-image {
    flex: 1;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 800px;
}
  
.About-image img {
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
  
.About-image img:first-child {
    position: relative;
    width: 400px;
    height: 500px;
    z-index: 0;
    left: -9rem;
}
  
.About-image img:last-child {
    position: absolute;
    top: 20%;
    left: 60%;
    transform: translateX(-50%);
    width: 250px;
    height: 300px;
    z-index: 1;
}
  
@media (max-width: 1024px) {
    .About-content {
        gap: 2rem;
    }
  
    .About-image img:first-child {
        width: 300px; 
        height: 375px;
        left: 0; 
    }
  
    .About-image img:last-child {
        width: 200px;
        height: 250px;
        top: 15%;
        left: 70%;
        transform: translateX(-50%);
    }
}
  
@media (max-width: 768px) {
    .About-section {
        margin-top: -4rem;
    }

    .About-content {
        flex-direction: column;
        gap: 20px;
    }
    
    .About-image {
        max-width: 600px;
    }
  
    .About-image {
        position: static; 
        display: block;
        margin: 0 auto;
        width: 100%;
    }
  
    .About-image img:first-child {
        display: block;
        width: 100%;
        height: auto;
    }
  
    .About-image img:last-child {
        display: none;
    }

    .About-title {
        font-size: 36px;
    }
  
    .About-description {
        font-size: 14px;
    }
}
  