.footer-container {
    background: #4a3f35;
}
  
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 20px;
}

.footer-section {
    flex: 1;
}

.footer-section .h2 {
    font-size: 26px; 
    color: #ffffff;
    margin: 0;
    text-decoration: none;
}
  
.footer-description {
    margin-top: 1.5rem;
    font-size: 16px;
    line-height: 1.75rem;
    color: #ffffff;
    max-width: 20rem;
}
  
.footer-social-media {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-top: 2rem;
}
  
.footer-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #ffffff;
    border-radius: 50%;
}
  
.footer-links {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 2.5rem;
    flex-wrap: wrap;
}
  
  
.footer-section-title {
    font-size: 14px;
    line-height: 2rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    color: #ffffff;
}
  
.footer-link {
    margin-top: 0.75rem;
    font-size: 16px;
    line-height: 1.5rem;
}

.footer-link-section ul {
    list-style: none;
    padding: 0;
}

.footer-link a {
    color: #ffffff;
    text-decoration: none;
}
  
.footer-link a:hover {
    color: #888888;
}
  
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  color: #ffffff;
  flex-wrap: wrap;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
  
.footer-bottom .copyright {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
  
.footer-bottom p {
    font-size: 16px;
    cursor: pointer;
}
  
.footer-bottom p:hover {
    color: #888888;
}
  
@media (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .footer-social-media {
      align-items: center;
      justify-content: center;
    }
  
    .footer-links {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-bottom {
      flex-direction: column;
      gap: 1rem;
    }
}
  