@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lora', serif;
  font-weight: 400; /* Default weight for normal text */
  letter-spacing: 0.5px; /* Optional spacing */
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
}

p, a, span, div, input, button {
  font-family: 'Lora', serif;
}